.footer {
  background: var(--color-black-2nd);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  padding: 16px 30px;
  box-shadow: -4px -4px 8px 0px rgba(0, 0, 0, 0.25);
}
.footerText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
}
/* Великі планшети і маленькі ноутбуки (від 768px) */
@media (min-width: 768px) {
  .footer {
    gap: 24px;
  }
}

/* Десктопи (від 1280px) */
@media (min-width: 1280px) {
}
