/* Global CSS Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.5;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid var(--gray);
}

blockquote {
  margin: 0;
  padding-left: 20px;
  border-left: 4px solid var(--gray);
}

/* Root Styles */
/* :root {
  --white: #fff;
  --black: #111;
  --gray: #63666a;
  --brand-teal: #0084d5;
  --blue: #0300bf;
  --yellow: #ffc907;
  --teal: #09f;

  --font-family: "Rounded Mplus 1c", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Open Sans", sans-serif;
  --font3: "Rounded Mplus 1c Bold", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Tilda Sans", sans-serif;
}
:root {
  --font-family: "Rounded Mplus 1c", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  font-family: var(--font3);
}

p {
  font-family: var(--second-family);
}  */
/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Poppins:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #080807;
  background-color: #ffffff;
}
button {
  all: unset; /* Повністю обнуляє стилі */
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
}
a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* VARIABLES */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #080807;
  --color-gray-section: #333333;
  --color-gray: #bfbfbf;
  --color-black-2nd: #262522;

  --color-primary: #27aae1;
  --color-primary-hover: #53bdea;
  --color-primary-pressed: #208ab6;

  --white: #ffffff;
  --black: #080807;
  --gray-section: #333333;
  --gray: #bfbfbf;
  --black-2nd: #262522;

  --primary: #27aae1;
  --primary-hover: #53bdea;
  --primary-pressed: #208ab6;

  /* Fonts */
  --font-noto: "Noto Sans", sans-serif;
  --font-family: "Noto Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Font Sizes */
  --fs-menu: 16px;
  --fs-body: 16px;
  --fs-h1: 32px;
  --fs-h2: 28px;
  --fs-h3: 20px;

  /* Line Heights */
  --lh-24: 24px;
  --lh-28: 28px;
  --lh-32: 32px;
  --lh-36: 36px;
  --lh-48: 48px;
}

/* TYPOGRAPHY */
.menu-item {
  font-family: var(--font-noto);
  font-weight: 700;
  font-size: var(--fs-menu);
  line-height: var(--lh-24);
}

body {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: var(--fs-body);
  line-height: var(--lh-24);
}

h1 {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: var(--fs-h1);
  line-height: var(--lh-48);
}

h2 {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: var(--fs-h2);
  line-height: var(--lh-36);
}

h3 {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: var(--fs-h3);
  line-height: var(--lh-32);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--color-primary) !important;
  font-size: 20px;
}
.swiper-pagination-bullet {
  background: var(--color-primary) !important;
}

/* RESPONSIVE HEADINGS */
@media (max-width: 1024px) {
  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 320px) {
}
/* Великі планшети і маленькі ноутбуки (від 768px) */
@media (min-width: 768px) {
}

/* Десктопи (від 1280px) */
@media (min-width: 1280px) {
}
